Django>=3.0,<4.0
numpy 
tensorflow==2.2
djangorestframework
markdown
django-filter
psycopg2
gunicorn
python-environ
django-cors-headers == 3.5.0
django-rest-auth
djangorestframework-simplejwt
django-phonenumber-field[phonenumbers]
pandas
celery
django_celery_results
django_celery_beat
pillow
