Django>=3.0,<4.0
numpy 
djangorestframework
markdown
django-filter
psycopg2-binary
gunicorn
python-environ
django-cors-headers
django-rest-auth
djangorestframework-simplejwt
pandas
celery==4.2
django_celery_results
django_celery_beat
django-filter
pillow
python-decouple
whitenoise==5.2
django-heroku
