.container {
    z-index: 1;
    background-color: rgb(44, 44, 44);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.bar {
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    padding: 15px ;
    margin-top: 10px;
    width: 90%;
}

.circle {
    box-shadow: 2px 4px 10px 4px rgba(11, 11, 11, .2);
    color: #fff;
    font-size: 25px;
    padding: 3px 0 0 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(55,55,55);
    transition: all 0.05s ease-out;
    cursor: pointer;
}

.circle > p {
    -ms-user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
    user-select:none;
    margin-left: 8px;
}

.creator {
    width: 100%;
    z-index: -1;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.5s ease-out;
}
.display {
    transition: 0.5s ease-out;
    top: 0px;
}

.hide {
    transition: 0.5s ease-out;
    top: -1000px;
}

.circle:hover {
    box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, .0);
}

.circle:active {
    background-color: rgb(44,44,44);
}

input {
    width: 100%;
}


