.footer {
    background-color: rgb(12,12,12);
    display: grid;
    grid-template-columns: auto auto;
    font-size:15px;
    color: #fff;
    padding-right: 10%;
    padding-left: 10%;
}

.grid-column {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
}

.item {
    cursor: pointer;
}
